.header {
    height: 15vh;
    background-color: palegoldenrod;
}

.logoContainer {
    width: 10%;
    float: left;
}

.logoImg {
    max-width: 100%;
    max-height: 14vh;
    height: auto;
    padding-left: 2vw;
    cursor: pointer;
}

.optionsContainer {
    width: 60%;
    align-items: center;
    text-align: center;
}

.optionLink {
    padding: 5vw 8vw;
    text-align: center;
    font-weight: 700;
    /* font-size: 32; */
}

.usersContainer {
    width: 30%;
    float: right;
    display: flex;
    flex-direction: row;
    padding: 2.5vh;
}

.buttonContainer {
    padding: 0 5px;
    font-size: 1.5rem;
}

.button {
    background-color: #cdcccf;
    font-size: 1.2rem;
    margin-right: 2rem;
    border-radius: 25px;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
}

.signUpButton {

}

.loginButton {

}

